footer {
  background-color: var(--granite-900);
  color: var(--granite-400);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

footer .footer a:any-link {
  color: var(--granite-300);
}

footer .footer a:hover {
  color: var(--summit-orange-light);
}

footer .footer h1,
footer .footer h2,
footer .footer h3,
footer .footer h4,
footer .footer h5,
footer .footer h6 {
  color: var(--text-inverse);
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
